/* Large screen styles */
@media (min-width: 768px) {
    #menu-button {
        display: none;
    }

    #primary-nav {
        display: block;
        width: auto;
    }

    nav ul {
        display: flex;
        gap: 0.5rem;
    }

    nav li {
        border-top: none;
    }

    .temple-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}